## Spark DataFrame Basics

Download Spark on your Windows machine. Refer to the following links for detailed instructions:

https://medium.com/@naomi.fridman/install-pyspark-to-run-on-jupyter-notebook-on-windows-4ec2009de21f

https://changhsinlee.com/install-pyspark-windows-jupyter/

In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
findspark.find()

'C:\\spark\\spark-3.0.0-bin-hadoop2.7'

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [7]:
df = spark.read.json('./Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json')

In [8]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
df.printSchema

In [10]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [11]:
df.columns

['age', 'name']

In [12]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [13]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [14]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType)

In [15]:
data_schema = [StructField('age',IntegerType(),True),
               StructField('name',StringType(),True)]

In [16]:
final_struc = StructType(fields=data_schema)

In [17]:
df = spark.read.json('./Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json', schema=final_struc)

In [18]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [19]:
type(df['age'])

pyspark.sql.column.Column

In [20]:
df.select('age')

DataFrame[age: int]

In [21]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [22]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [23]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [24]:
df.head(2)[0]

Row(age=None, name='Michael')

In [25]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [26]:
df.select(['age', 'name'])

DataFrame[age: int, name: string]

In [27]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

### Create a new column

In [28]:
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [29]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

This isn't an inplace operation so the original dataframe structure is preserved.

In [30]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

## Use SQL to interact with the dataframe

In [32]:
# Register the dataframe as a SQL temporary view.
df.createOrReplaceTempView('people')

In [33]:
results = spark.sql("SELECT * FROM people")

In [34]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [35]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [36]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+